@page
@model Strasnote.Apps.Web.Pages.Home.CodeMirrorModel
@{
}

<div class="editor"></div>

<script type="text/javascript">
const editor = CodeMirror(
    (el) => $(".editor").html(el),
    {
        lineNumbers: false,
        lineWrapping: true
    }
);
</script>
