@page
@model Strasnote.Apps.Web.Pages.Home.FormModel

<p><a asp-page="Home">Home</a></p>

<div id="name">
	<partial name="_Name" model="new Form()"/>
</div>

<p>Generated @DateTime.Now.ToString(Formats.DateTimeFull)</p>
