@model Strasnote.Apps.Web.Pages.Components.Header.HeaderModel

@{
	var homeUrl = Url.Page("/Index");
}

<header class="navbar navbar-dark sticky-top bg-dark p-1 shadow">

	<div class="d-flex px-2 justify-content-between align-items-center w-100">

		<button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
			<i class="lni lni-line-double"></i>
		</button>
		<a href="@homeUrl" class="navbar-brand fs-3 ms-auto me-auto">strasnote</a>
		<div>
			<button class="navbar-toggler" data-bs-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
				<i class="lni lni-search-alt"></i>
			</button>
		</div>
	</div>

	<div id="search" class="collapse w-100">
		<input class="form-control form-control-dark rounded-0 border-0 w-100" type="text" placeholder="Search" aria-label="Search" />
	</div>

</header>
