@page
@model Strasnote.Apps.Web.Pages.IndexModel

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Strasnote Web App</title>

	<!-- Style -->
	<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet" />
	<environment names="Development">
		<link rel="stylesheet" href="~/css/bundles/strasnote-lib.css" />
		<link rel="stylesheet" href="~/css/bundles/strasnote.css" />
	</environment>

	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/css/bundles/strasnote-lib.min.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/css/bundles/strasnote.min.css" asp-append-version="true" />
	</environment>

	<!-- Script -->
	<script type="text/javascript">
		var readyF = [];
		var ready = (f) => readyF.push(f);
	</script>

</head>
<body class="d-flex flex-column h-100">

	<!-- Header -->
	<vc:header />

	<div class="container-fluid flex-shrink-0">

		<div class="row">

			<!-- Sidebar -->
			<vc:sidebar />

			<!-- Main Content -->
			<main role="main" class="col-12 col-md-9 col-xl-10 pt-2 px-md-4">
				<h1>Notes</h1>
			</main>

		</div>

	</div>

	<!-- Footer -->
	<vc:footer />

	<!-- Script -->
	<environment names="Development">
		<script src="~/js/bundles/strasnote-lib.js"></script>
		<script src="~/js/bundles/strasnote.js"></script>
	</environment>

	<environment names="Staging,Production">
		<script src="~/js/bundles/strasnote-lib.min.js" asp-append-version="true"></script>
		<script src="~/js/bundles/strasnote.min.js" asp-append-version="true"></script>
	</environment>

	<script type="text/javascript">
		$.each(readyF, (_, f) => f());
	</script>

</body>
</html>
